
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1>Últimas Ventas</h1>
  <div class="d-flex flex-row order-2 order-lg-3">
    <ul class="navbar-nav flex-row">
      <img class="logo">
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown"> 
  </div>
</nav>
<router-outlet></router-outlet>
