/* You can add global styles to this file, and also import other style files */
.logo{
    background-image: url(assets/images/logo.png);
    width:200px;
    height:100px;
}
h1{
    color: #FFFFFF;
}
.formularioLogin{
    padding-top: 50px;
    text-align: left;
    width: 420px;
}
.logoutLblPos{
    position:fixed;
    right:20px;
    top:10px;
    font-size: 10px;
 }
 .paddingT{
    padding-top: 50px;
 }